@page "/"

<div style="text-align:center; margin-top: auto;">
    <a href="index.html"><img src="assets/img/yeniler/link.png" width="120px" height="120px"></a>
    <a href="index.html"><img src="assets/img/yeniler/özel_link.png" width="120px" height="120px"></a>
    <a href="index.html"><img src="assets/img/yeniler/whatsapp.png" width="120px" height="120px"></a>
    <a href="index.html"><img src="assets/img/yeniler/telefon.png" width="120px" height="120px"></a>
    <a href="index.html"><img src="assets/img/yeniler/mail.png" width="120px" height="120px"></a>
    <a href="index.html"><img src="assets/img/yeniler/sms.png" width="120px" height="120px"></a>
</div>
<input type="text">
<button id="button-fıstık" style="margin-bottom: auto;">Kısalt</button>

@code{
	
}
