@page "/katil"

<div style="text-align: center;">
    <ul class="navbar" style="margin-top: 10%">
        <li class="nav-link fs-2 fw-medium">
            <a class="nav-link fs-2 fw-medium" href=/grup><i class="bx bx-user me-1"></i>Gruplarım</a>
        </li>
        <li class="nav-link fs-2 fw-medium">
            <a class="nav-link fs-2 fw-medium" href=/davet><i class="bx bx-user me-1"></i>Davetlerim</a>
        </li>
        <li class="nav-link fs-2 fw-medium">
            <a class="nav-link fs-2 fw-medium" href=/katil><i class="bx bx-user me-1"></i>Katılabileceğim Gruplar</a>
        </li>
    </ul>
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Link İsmi</th>
            <th>Tıklanma Sayısı</th>
            <th>Oluşturma Tarihi</th>
            <th>Son Geçerlilik Tarihi</th>
            <th>Bekleme Süresi (saniye)</th>
            <th>Link Mesajı</th>
            <th>Başvuru</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-blue">Başvur</button></td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public string grup { get; set; }
}
