@page "/mylinks"
<title>Linklerim</title>
<button id="button-fıstık">Yeni Link Kısalt</button>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Link İsmi</th>
            <th>Tıklanma Sayısı</th>
            <th>Oluşturma Tarihi</th>
            <th>Son Geçerlilik Tarihi</th>
            <th>Bekleme Süresi (saniye)</th>
            <th>Link Mesajı</th>
            <th>Kısa Link</th>
            <th>Orijinal Link</th>
            <th>Düzenle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
        <tr>
            <td><a href="#"><img src="assets/img/yeniler/linkegit.png" width="35px" height="35px"></a></td>
            <td>www.example.com</td>
            <td>20</td>
            <td>25.11.2022</td>
            <td>12.12.2022</td>
            <td>3</td>
            <td>Hoşgeldiniz</td>
            <td><button id="button-green">Kopyala</button></td>
            <td><button id="button-orange">Kopyala</button></td>
            <td><button id="button-blue">Düzenle</button></td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public string mylinks { get; set; }
}
