@page "/shortlink"
<title>Linke Yönlendiriliyor</title>
<div id="appp" style="justify-content: center; align-items: center;"></div>    
  

@code {
    [Parameter]
    public string shortlink { get; set; }

}
