@page "/preview"
<title>Önizle</title>
<iframe width="96%" height="auto" src="https://www.youtube.com/embed/11TQJ35mPAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

@code {
    [Parameter]
    public string preview { get; set; }
}
